<div id="top_bloc">

	<div id="header">
		<div class="header_element">
			<div> Already have an Intuit account ?</div>
			<div><a href="">I forgot my User ID or password</a></div>
		</div>
		<div class="header_element">
			<button> Sign in</button>
		</div>
	</div>

	<div id="title">
		<div id="title_logo"></div>
	</div>
	
	<div id="container">
		<%= render 'registration-form' %>
	</div>

</div>

<footer>
	<div id="footer_logo"></div>
	
	
	<div class="footer_line">

		<ul class="footer_link">
        	<li>
                <a id="legal"
                   href="https://about.intuit.com/legal/"
                   target="_blank">Legal</a>
            </li>
            <li>
                <a id="privacy"
                   href="https://security.intuit.com/privacy/"
                   target="_blank">Privacy</a>
            </li>
            <li>
                <a id="security"
                   href="https://security.intuit.com/"
                   target="_blank">Security</a>
            </li>
        </ul>
        
	</div>
	<div class="footer_line">© 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.</div>
	<div class="footer_line">Terms and conditions, features, support, pricing, and service options subject to change without notice.</div>

</footer>